body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #eaeaea;
}

header {
  background: #111;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 40px;
}

footer {
  background: #111;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #888;
}
